---
import Send from "../icons/send.astro";
import BubbleText from "./Bubble_text.astro";
import Form from "./Form.svelte";
interface Props {
  id: string;
}
const { id } = Astro.props;
---
<section {id}>
  <h2 class="uppercase font-montserrat font-bold text-4xl">
    Contact
    <span class="block">
      With
    </span>
    Me
  </h2>
  <Form client:idle >
    <Fragment slot="sendButtonStyle">
      <Send
        width="28"
        height="28"
        className="hover:scale-110 text-black/70 hover:text-black transition-all duration-500 [&:hover+p]:opacity-100"
      />
      <BubbleText
        text="Send"
        className="cursor-default absolute text-primary w-[4rem] rounded-full px-3 py-0.5 bottom-[.03rem] right-10 shadow-md bg-black/95 opacity-0 transition-opacity duration-300 hidden lg:block"
      />
    </Fragment>
  </Form>
</section>
