---
import Experience from './Experience.astro';
import {EXPERIENCES} from '../constants/experiences'; 
interface Props {
  id: string;
}
const { id } = Astro.props;
---
<section {id}>
  <div class="pb-10">
    <h2 class="uppercase font-montserrat font-bold text-4xl">
      Experience 
    </h2>
    <!-- I don't have enough experience so i put my studies here to -->
    <p class="uppercase font-montserrat font-bold text-3xl">
      & Studies
    </p>
  </div>
  <div class="">
    <div class="grid md:grid-cols-2 grid-cols-1">
      {EXPERIENCES.map((experience, index) => {
        return (
          <>
            {index % 2 !== 0 && <div class="border-l border-r border-black"></div>}
            
            <Experience experience={experience} isOdd={index % 2 !== 0} />

            {index % 2 === 0 && <div class="border-r border-black"></div>}
          </>
        );
      })}
    </div>
  </div>
</section>