---
import ArrowRight from "../icons/arrow_right.astro"
interface Props {
  name: string;
  img: string;
  isOdd?: boolean;
}
const { name, img, isOdd } = Astro.props;
---
<button class="border-l border-black hover:text-accent hover:bg-black transition-colors duration-500 group">
  <span class="flex justify-between items-center border-b border-black pl-2.5">
    {name}
    <ArrowRight width="24" height="24" />
  </span>
  <img 
    src={img} 
    alt={`${name} preview image`}
    class={`border-black ${isOdd ? 'border-r':''} grayscale group-hover:grayscale-0 transition-colors duration-500`}
  >
</button>