---
import BubbleText from "./Bubble_text.astro"

interface Props {
	href: string;
  bubbleText?: string;
  anchorClassName: string;
}

const { href, bubbleText, anchorClassName } = Astro.props;
---
<div class="w-full group relative flex flex-col justify-end items-center">
  <a href={href} target="_blank" class={`${anchorClassName} [&:hover+p]:opacity-100`}>
    <slot/>
  </a>
  { bubbleText ?
    <BubbleText text={bubbleText} className="cursor-default text-sm sm:text-base px-2 sm:px-3 py-0.5 rounded-full shadow-md bg-black/95 text-primary opacity-0 transition-opacity duration-300 absolute -bottom-9 hidden md:inline"/>:''
  }
  
</div>