---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Marc Arcedo Alvaro" />
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-S14VF5TDN8"></script>
        <script is:inline lang="ts">
     			if ('IntersectionObserver' in window) {
        				const observer = new IntersectionObserver(
       					(entries) => {
      						entries.forEach((entry) => {
     							if (entry.isIntersecting) {
        								window.dataLayer = window.dataLayer || [];

        								function gtag(event) {
       									window.dataLayer.push(event);
        								}

        								gtag({ 'js': new Date() });
        								gtag({ 'config': "G-S14VF5TDN8" });

        								observer.disconnect();
     							}
      						});
       					},
       					{ threshold: 0.1 }
        				);

        				observer.observe(document.documentElement);
     			} else {
        				window.dataLayer = window.dataLayer || [];

        				function gtag(event) {
       					window.dataLayer.push(event);
        				}

        				gtag({ 'js': new Date() });
        				gtag({ 'config': "G-S14VF5TDN8" });
     			}
        </script>
	</head>
	<body class="bg-black">
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@font-face {
		font-family: "Montserrat";
		src: url("/fonts/Montserrat-VariableFont_wght.woff2")
	}
	@font-face {
		font-family: "DMSans";
		src: url("/fonts/DMSans-VariableFont_opsz,wght.woff2");
	}

	.bg-gradient-fixed{
    background-attachment: fixed;
    background: radial-gradient(circle, #EDF2FB, #D7E3FC, #CCDBFD, #C1D3FE, #E2EAFC);
    background-size: 100% 100%;
}

    .bg-gradient {
        background-image: radial-gradient(circle, #EDF2FB, #D7E3FC, #CCDBFD, #C1D3FE, #E2EAFC);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 200vw 150vh;
        animation: gradient-radial 20s ease-in-out infinite alternate;
    }

	@keyframes gradient-radial {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
	}

	.highlight-offset {
    @apply relative;
  }
  .highlight-offset::before {
    content: " ";
    @apply absolute bg-accent w-full h-2/4 top-[40%] left-[2%];
    z-index: -1;
  }
	*:hover > .highlight-none::before {
		@apply bg-black transition-all duration-500
	}
</style>
